[submodule "aglio"]
	path = aglio
	url = git@github.com:dominicpoeschko/aglio.git
[submodule "kvasir"]
	path = kvasir
	url = git@github.com:dominicpoeschko/kvasir.git
[submodule "chip"]
	path = chip
	url = git@github.com:dominicpoeschko/kvasir_rp2040.git
